<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <connectionStrings>
    <add name="CRMConnectionString" connectionString="Url=https://powert123.crm8.dynamics.com; Username={{USERNAME}}; Password={{PASSWORD}}; authtype=Office365"/>   
  </connectionStrings>
</configuration>